nav {
  width: 60%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.link {
  list-style-type: none;
  appearance: none;
  text-decoration: none;
}
.link :hover {
  text-decoration: none;
  background-color: #28666e;
}
